:root {
  --celeste: rgb(22, 177, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #eceffc;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 370px;
  height: 500px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  border: rgb(22, 177, 238) 3px solid;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
  color: white;
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.container-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  font-weight: bold;
}

.container-form {
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  width: 270px;
}

.container-form-comentario {
  margin-top: 60px;
}

.container-form-usuario input {
  height: 30px;
  background-color: #333;
  border: none;
  border-bottom: 2px solid var(--celeste);
  border-radius: 0px;
}

.container-form-comentario input {
  height: 100px;
  border: var(--celeste) 2px solid;
  border-radius: 5px;
  background-color: #333;
  box-shadow: rgb(21, 169, 228) 0px 0px 2px 2px;
}

.input {
  margin-top: 10px;
  color: white;
  outline: none;
  width: 100%;
}

.area {
  background: #333;
  margin-top: 10px;
  color: white;
  border: var(--celeste) 2px solid;
  outline: none;
  width: 100%;
}

.container-form-submit {
  display: flex;
  justify-content: center;
}

.input-submit {
  text-decoration: none;
  border: none;
  margin-top: 44px;
  background-color: #333;
  color: white;
  border: var(--celeste) 2px solid;
  padding: 10px 20px;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.input-submit:hover {
  background-color: var(--celeste);
}

.container-comentarios {
  background-color: #333;
  width: 400px;
  height: 500px;
  margin-left: 20px;
  border-radius: 10px;
  border: var(--celeste) 3px solid;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
  color: white;
  overflow: auto;
}

.comentario-container {
  width: 100%;
  min-height: 60px;
  padding: 8px;
  position: relative;
}

.comentario-header {
  margin-bottom: 5px;
  word-wrap: break-word;
}

.nombre-usuario {
  font-weight: bold;
  margin-right: 3px;
  color: var(--celeste);
}

.footer-comentario {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.menu {
  height: auto;
  padding: 0 6px;
  cursor: pointer;
  float: right;
  margin-left: 5px;
}

.separador {
  border-bottom: #eceffc 1px solid;
  height: 15px;
  width: 70%;
  margin: auto;
}

.menu-flotante {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 18px;
  color: #333;
  background: #fff;
  border-radius: 5px;
  padding: 5px 0;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
  display: none;
}
.menu-flotante li {
  padding: 5px 10px;
  font-size: 13px;
  cursor: pointer;
}
.menu-flotante li:hover {
  background: #ccc;
}
.menu-flotante-activo {
  display: initial !important;
}

#menu-icono {
  font-size: 20px;
  color: var(--celeste);
}

.horario {
  font-size: 12px;
  color: var(--celeste);
}
